<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studio.artaban.tagthebus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" >

    </uses-feature>
    <supports-screens android:largeScreens="true" android:xlargeScreens="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <permission android:name="com.studio.artaban.tagthebus.permission.MAPS_RECEIVE" android:protectionLevel="signature" >
    </permission>
    <uses-permission android:name="com.studio.artaban.tagthebus.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.studio.artaban.tagthebus.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.studio.artaban.tagthebus.AlbumActivity" >
        </activity>
        <activity android:name="com.studio.artaban.tagthebus.CameraActivity" >
        </activity>
        <activity android:name="com.studio.artaban.tagthebus.PhotoActivity" >
        </activity>
        <activity android:name="com.studio.artaban.tagthebus.StationActivity" >
        </activity>
        <activity android:name="com.facebook.LoginActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
                  android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id" />
        <meta-data android:name="com.google.android.gms.version"
                  android:value="@integer/google_play_services_version" />
        <meta-data  android:name="com.google.android.maps.v2.API_KEY"
                  android:value="AIzaSyD1DcT0stRBFvkpncQuYfoWOyXH6_X7E2A" />
    </application>

</manifest>
